<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="internal-nlog.txt">

  <targets>
    <!-- Write logs to file -->
    <target xsi:type="File" name="logfile" fileName="/backup/server-${shortdate}.log"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}" />

    <!-- Write logs to console -->
    <target xsi:type="Console" name="logconsole"
            layout="${longdate}|${level:uppercase=true}|${message}" />

    <!-- Memory target for UI display in Blazor -->
    <target xsi:type="Memory" name="memoryTarget"
            layout="[${longdate}] [${level:uppercase=true}] : ${message}" />
  </targets>

  <rules>
		<logger name="*" minlevel="Debug" writeTo="logfile,logconsole,memoryTarget" />
  </rules>
</nlog>
